<mat-drawer-container class="example-container" hasBackdrop="false">
  <mat-drawer #drawer mode="side"><app-test></app-test></mat-drawer>
  <mat-drawer-content>
    
    
    <div class="button btn" mat-raised-button (click)="drawer.toggle()"><mat-icon>play_arrow</mat-icon></div>
    <ul *ngFor="let item of itemss | async">

      <li class="text btn btn-primary" >
        ID:{{item.id}}
      <br>
        Student Name:{{item.name}}
        <br>
        Username:{{item.username}}
        <br>
        Address:{{item.address}}
        <br>
        mobile:{{item.mobile}}
      </li>
  
      
      <mat-icon class="mat-icon-rtl-mirror" svgIcon="thumb_up"></mat-icon>
      <mat-icon class="mat-icon-rtl-mirror">3d_rotation</mat-icon>
    
    
     
    </ul>
    
    <router-outlet></router-outlet>
    
 
  </mat-drawer-content>
</mat-drawer-container>