<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar class="col-sm-12" color="primary">
  <span>Album</span>
  <span class="col-sm-11"></span>
  <mat-menu #appMenu="matMenu">
    <ng-template matMenuContent>
      <button mat-menu-item>Settings</button>
      <button mat-menu-item>Help</button>
    </ng-template>
  </mat-menu>
  
<button class="float:right" mat-icon-button [matMenuTriggerFor]="appMenu">
    <mat-icon>more_vert</mat-icon>
  </button>
  
</mat-toolbar>
<mat-sidenav-container class="example-container" *ngIf="shouldRun">
  <mat-sidenav #sidenav [mode]="mode.value">
    <p><button mat-button (click)="sidenav.toggle()">Toggle</button></p>
    <p>
      <mat-radio-group class="example-radio-group" [formControl]="mode">
        <label>Mode:</label>
        <mat-radio-button value="over">Over</mat-radio-button>
        <mat-radio-button value="side">Side</mat-radio-button>
        <mat-radio-button value="push">Push</mat-radio-button>
      </mat-radio-group>
    </p>
  </mat-sidenav>

  <mat-sidenav-content class="example-container" >
    <p><button mat-button (click)="sidenav.toggle()">Toggle</button></p>
    <p>
      <mat-radio-group class="example-radio-group" [formControl]="mode">
        <label>Mode:</label>
        <mat-radio-button value="over">Over</mat-radio-button>
        <mat-radio-button value="side">Side</mat-radio-button>
        <mat-radio-button value="push">Push</mat-radio-button>
      </mat-radio-group>
    </p>
  </mat-sidenav-content>
</mat-sidenav-container>

<ul *ngFor="let item of items | async">

  <li class="text btn btn-primary" >
    ID:{{item.id}}
  <br>
    Student Name:{{item.name}}
    <br>
    First Sem Marks:{{item.totalmarks[0] | percent}}
    <br>
    Second Sem Marks:{{item.totalmarks[1] | percent}}
    <br>
    Third Sem Marks:{{item.totalmarks[2]  | percent}}
  </li>

  
  <mat-icon class="mat-icon-rtl-mirror" svgIcon="thumb_up"></mat-icon>
  <mat-icon class="mat-icon-rtl-mirror">3d_rotation</mat-icon>


 <div class="data" [ngStyle]="{'width': '10px','height':'(' + item.id + ')px', 'background': 'red'}"></div>
</ul>
<app-test></app-test>
<router-outlet></router-outlet>
